<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        <title>Traditional Korean Dishes</title>
    </head>
    <body>
        <h1 class="index">{{dish}}</h1>
        <img class= image src="/static/Dolsot-bibimbap.jpg" alt="Image of {{dish}}" >
        <div class = description>
            <h2>{{description}}</h2>
        </div>
        <a href="{{url_for('index')}}">
            <button type="button" title="Click to go back to the dishes selection screen">
                BACK TO SELECTION MENU
            </button>
        </a>
    </body>
    </html>