<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        <title>Covid Management System</title>
    </head>
    <body>
        <h1 class="index">Traditional Korean Dishes</h1>
        <h2>Add a Patient</h2>
        <form class= "inputForm" id="siteForm" action="/manage_patients/add" method="POST">

            <input class="add" type="submit" value="Add">
        </form>
    </body>
</html>